<header>
    <!-- TOP OFFER STRIP -->
    <div class="header-offers-strip">
        <div class="offers-strip">
            <p>ADD RECENT OFFERS HERE</p>
        </div>
    </div>
    <!-- MAIN HEADER -->
    <div class="main-header">
        <!-- LOGO -->
        <div class="logo"><img src="IMG/temp_logo.jpg" alt="logo" width="65px" height="65px"></div>
        <!-- OUR TOP FACILITIES CATEGORY -->
        <div class="categories" id="id-of-categories">
            <nav>
                <ul><a href="#">Our Product</a></ul>
                <ul><a href="brandList.html">Favourite Brands</a></ul>
                <ul><a href="brandPage.html">Box Customization</a></ul>
                <ul><a href="#">Our Gifts</a></ul>
                <ul><a href="#">About</a></ul>
                <!-- <ul><a href="benderPage.html">Help & Support</a></ul> -->
            </nav>
        </div>







        <!-- =============/.top-search-holder =============-->
        <div class="search-area" style="display: none">
            <form name="search" method="post" action="#">
                <div class="control-group">

                    <input class="search-field" placeholder="Search here..." name="product" required="required" />

                    <button class="search-button" type="submit" name="search">Search</button>

                </div>
            </form>
            <button id="CatBackBtn"><img src="IMG/back-arrow.png" alt="Back" width="22px" height="22px"></button>
        </div>
        <!-- =============/.top-search-holder =============-->







        <!-- ALL HEADER ICON LIST -->
        <div class="header-icon-list">
            <!-- search -->
            <div class="search">
                <a is="toggle-link" id="CatSearchBtn" class="search-icon"><i class="bx bx-search"
                        id="cart-icon"></i></a>
            </div>
            <!-- account -->
            <div class="account">
                <a href="login" class="account-icon" aria-label="Login"><svg focusable="false" width="18" height="17"
                        class="icon icon--header-customer   " viewBox="0 0 18 17">
                        <circle cx="9" cy="5" r="4" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linejoin="round"></circle>
                        <path d="M1 17v0a4 4 0 014-4h8a4 4 0 014 4v0" fill="none" stroke="currentColor"
                            stroke-width="2">
                        </path>
                    </svg></a>
            </div>
            <div class="burger" id="burgerID">
                <div class="burgerLine"></div>
                <div class="burgerLine"></div>
                <div class="burgerLine"></div>
            </div>
            <!-- cart icon -->
            <a href="cart"><i class="bx bx-cart" id="cart-icon"></i></a>

        </div>
    </div>
</header>